<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252313981555-b4u4j4mcvoore8vv40pgj0gcs8gn0te7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252313981555-b4u4j4mcvoore8vv40pgj0gcs8gn0te7</string>
	<key>API_KEY</key>
	<string>AIzaSyCGJ2ah0KAVUfyTcZFK2TdGB4a0cSS8NC0</string>
	<key>GCM_SENDER_ID</key>
	<string>252313981555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expo.chatapp</string>
	<key>PROJECT_ID</key>
	<string>expo-chat-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-chat-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252313981555:ios:15cf9098461e2b8c8d9006</string>
	<key>DATABASE_URL</key>
	<string>https://expo-chat-rn.firebaseio.com</string>
</dict>
</plist>